@model IReadOnlyList<FuzbollLadder.Models.Match>

@if (Model.Any())
{
    <table>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Winners</th>
            <th>Losers</th>
            <th>Delta</th>
            <th/>
        </tr>

        @foreach (var match in Model.OrderByDescending(p => p.Date))
        {
            <tr>
                <td>@match.Id</td>
                <td>@match.Date.ToShortDateString()</td>
                <td>
                    @foreach (var player in match.Winners)
                    {
                        <div>@player.Name</div>
                    }
                </td>
                <td>
                    @foreach (var player in match.Losers)
                    {
                        <div>@player.Name</div>
                    }
                </td>
                <td>±@match.RatingDelta.ToString("0")</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@match.Id">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>There are no matches in the database</div>
}